@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">BIENVENIDO</h1>
        <p class="lead">
            Stock Manager es una aplicacion que permite llevar un control sobre todos sus entradas y salidas, dando control, sobre
            sus compras, ventas, asi mismo permite al usuario crear graficas y estadisticas sobre todo su proceso productivo.
        </p>
    </section>

    <div class="row">
        <section class="mb-3">
            <h2>Desarrollada en ASP.NET</h2>
            <div>
                <img style="width: 300px; height: auto;" src="https://imgs.search.brave.com/Q0LYLerZkRjJqsRk_vXEBCCsBC8RQ7qCVct3saUUxCo/rs:fit:860:0:0/g:ce/aHR0cHM6Ly93d3cu/cG5naXRlbS5jb20v/cGltZ3MvbS81MzEt/NTMxODAxMV9taWNy/b3NvZnQtbmV0LWxv/Z28tbWljcm9zb2Z0/LW5ldC1sb2dvLXBu/Zy10cmFuc3BhcmVu/dC5wbmc" />
                <p class="m-lg-3">
                    ASP.NET Framework es una plataforma robusta y versátil desarrollada por Microsoft, diseñada para la construcción y despliegue de aplicaciones
                    web dinámicas y escalables. Este marco de trabajo proporciona a los desarrolladores una estructura sólida y eficiente para crear aplicaciones
                    web y servicios mediante el uso del lenguaje de programación C# (C Sharp) o Visual Basic.
                </p>
            </div>
            <p><a class="btn btn-outline-dark" href="https://go.microsoft.com/fwlink/?LinkId=301865">Documentacion de APS .NET &raquo;</a></p>
        </section>
        <section>
            <h2>Codigo Fuente</h2>
            <p>
                Bienvenido a nuestro proyecto! Este proyecto se encuentra alojado en GitHub, la plataforma líder para el desarrollo colaborativo
                de software. En GitHub, puedes explorar el código fuente, contribuir con sugerencias, informar problemas, y seguir el progreso
                del desarrollo.
            </p>
            <a class="btn btn-outline-dark" href="https://github.com/Juanda022/StockManagerPro_Web/tree/master">Repositorio</a>
            <a class="btn btn-outline-dark" href="https://github.com/Juanda022">Autor1</a>
            <a class="btn btn-outline-dark" href="https://github.com/Fsxerath">Autor2</a>
        </section>
    </div>
</main>